.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  
  }

  .buttons{
    background-color: black;
    color: white;
    padding: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
